.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10vw;
}

.inputSection {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 10px;

    background-color: aliceblue;
    padding: 15px 25px;
    border-radius: 8px;
    border: 3px solid silver;
    box-shadow: 0 4px 5px rgba(255, 255, 255, 0.5);
}

.inputSection label {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.inputSection input[type="text"] {
    width: 75%;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid silver;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.inputSection button {
    width: 50%;
    font-size: 1rem;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.categoryList {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 1rem;
    text-align: center;
    color: black;
    padding: 25px;
    gap: 10px;

    background-color: aliceblue;
    padding: 15px 25px;
    border-radius: 8px;
    border: 3px solid silver;
    box-shadow: 0 4px 5px rgba(255, 255, 255, 0.5);
}

.categoriesName {
    color: black;
    font-weight: bold;
    list-style-type: none;

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20%;
    gap: 2px
}

.categoryName {
    background-color: silver;
    padding: 5px 25px;
    border-radius: 12px;
    border: 3px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}