:root {
    --fc-border-color: silver;

    --fc-button-text-color: black;
    --fc-button-bg-color: silver;
    --fc-button-hover-bg-color: gold;
}

.mainContainer {
    margin: 0 10vw;
    margin-top: 20px;
    display: flex;
    gap: 2rem;
}

.calendarContainer {
    flex-basis: 75%;
    border: 4px solid silver;

    margin-bottom: 0;
    padding: 15px;

    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.detailsContainer {
    width: 0;
    flex-grow: 1;
    border: 4px solid silver;
    padding: 10px;

    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.detailsTitle {
    font-size: 1.5em;
}

.detailsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.detailsItem {
    background-color: lime;
    border: 2px solid silver;
    border-radius: 4px;
    padding: 5px;
    color: black;
    list-style-type: none;

    display: flex;
    justify-content: space-between;

    transition: transform 0.05s ease-in;
}
.detailsItem:hover {
    transform: scale(1.05);
    cursor: default;
}

.detailsItemLeft {
    display: flex;
    align-items: center;
}
.detailsItemRight {
    display: flex;
    align-items: center;
}
.memo {
    color: #2a2a2a;
    font-size: 0.8em;
    inline-size: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deleteButton {
    cursor: pointer;
    color: rgb(50, 50, 50);

    transition: color 0.2s ease;
}
.deleteButton:hover {
    color: red;
}

.is-selected-date {
    background-color: rgb(127, 255, 212, 0.2) !important;
    /* border: 2px solid gold !important; */
}
