.expenseListContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    margin: 0 10vw;
    margin-top: 20px;
}

.budgetsList {
    flex-basis: 40%;
    height: 75vh;
    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
    padding: 15px
}
.budgetsListTitle {
    font-size: 1.5em;
}

.editBudgetsContainer {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editBudgetsTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.editBudgetsForm {
    border: 2px solid silver;
    background-color: lime;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.editBudgetsCategoryName {
    font-weight: bold;
    font-size: 1em;
}

.editBudgetsDetails {
    display: flex;
    gap: 5px;
}

.editBudgetsDetailsButton {
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.pieChart {
    flex-grow: 1;
    height: 75vh;
    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.customPieChart path {
    stroke: azure;
    stroke-width: 4px;

    transition: stroke-width 0.3 ease;
}
.customPieChart path:hover {
    color: aqua;
}
.customPieChart text {
    font-weight: bold;
    font-size: 1.25em;
}
