.expenseListContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    margin: 0 10vw;
    margin-top: 20px;
}

.budgetsList {
    flex-basis: 40%;
    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.pieChart {
    flex-grow: 1;
    height: 75vh;
    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.customPieChart path {
    stroke: azure;
    stroke-width: 4px;

    transition: stroke-width 0.3 ease;
}
.customPieChart path:hover {
    color: aqua;
}
.customPieChart text {
    font-weight: bold;
    font-size: 1.25em;
}

.editBudgetsContainer {
    /* background-color: goldenrod; */
    padding: 10px;
}

.editBudgetsTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.editBudgetsForm {
    border: 2px solid lime;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

