.formInput {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
    margin: 0 10vw;
    margin-top: 20px;
    padding: 15px 25px;
 }

.formContainer {
    display: flex;
    gap: 5px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.formItem {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px auto;
    max-width: 400px;
    padding: 5px;
    gap: 2px;

    border: 4px solid silver;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 1em;
    font-weight: bold;
    list-style-type: none;
}