.expenseListContainer {
    margin: 5% 10%;
    height: 80vh;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.calendarList {
    flex-basis: 40%;
    border: 1px solid azure;
    padding: 10px;
}

.pieChart {
    flex-grow: 1;
    border: 1px solid azure;
}