.expenseListContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    margin: 0 10vw;
    margin-top: 20px;
}

.graphTitle {
    font-size: 1.5em;
}

.notBudgetMessage {
    padding: 5px;
    font-size: 1.2em;
}

.budgetsList {
    flex-basis: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.budgetsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 60%;
}
.budgetsListContainer {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
}
.budgetsListContainer::-webkit-scrollbar {
    display: none;
}

.budgetsListTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.budgetsForm {
    border: 2px solid silver;
    background-color: lime;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.budgetsCategoryName {
    font-weight: bold;
    font-size: 1em;
}

.budgetDetails {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

.budgetDetailsItem {
    font-weight: bold;
    padding: 5px;
 }

.budgetDetails input[type="number"] {
    border-width: 4px;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    width: 40%;
}
.budgetDetails input[type="number"]::placeholder {
    color: azure;
}

.budgetDetailsButton {
    background-color: rgb(245, 245, 245, 0.8);
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    transition: transform 0.1s ease, background-color 0.1s ease;
}
.budgetDetailsButton:hover {
    transform: scale(1.1);
    background-color: rgba(245, 245, 245, 1);
}

.chartTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pieChart {
    flex-grow: 1;
    padding: 15px;
    height: 75vh;
    border: 4px solid silver;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
    
}

.toggleButton {
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    background-color: silver;

    font-size: 1em;
    font-family: sans-serif;
    padding: 7px 15px;
}
.toggleButton:hover {
    cursor: pointer;
    background-color: gold;
}

.customPieChart path {
    stroke: azure;
    stroke-width: 4px;

    transition: stroke-width 0.3 ease;
}
.customPieChart path:hover {
    color: aqua;
}
.customPieChart text {
    font-weight: bold;
    font-size: 1.25em;
}
